.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

images/
talk/
plots/
plots/plots
brms_models/
Ideas_files/
rstudio-panda/
results_sim/
Scripts/archive

sim_comparison/final_results
temp_stan_files

*.RData
*.RDataTmp
*.RDataTmp1
*.Rhistory
*.Rproj.user
*.Ruserdata
*.sh
*.DS_Store
*.png
*.pdf
*.RDS



archive/
stan/logitR2D2
stan/R2D2
stan/logitr2d2cmdstanmodel
stan/r2d2cmdstanmodel
stan/.DS_Store
stan/logitR2D2.stan.bak-20230925220308
stan/R2D2.stan.bak-20230925220300
errorReportR.txt
